@model CRM.Models.ViewModels.ServiceViewModel
@{
    ViewData["Title"] = "CREATE A NEW SERVICE";
}

<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                @ViewData["Title"]
            </div>
            <div class="card-body">
                <form id="form" method="post" asp-action="Create" asp-antiforgery="true">
                    <div class="form-group">
                        <select id="product" asp-for="Service.ProductID" class="form-control" asp-items="@(new SelectList(Model.Products, "ID", "Name"))"></select>
                        <span asp-validation-for="Service.ProductID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <select id="option" asp-for="Service.PaymentOptionID" class="form-control" asp-items="@(new SelectList(Model.Options, "ID", "Name"))"></select>
                        <span asp-validation-for="Service.PaymentOptionID" class="text-danger"></span>
                    </div>
                    <div class="row align-items-center">
                        <div class="col">
                            <strong>TOTAL: </strong> <span id="total"></span>
                        </div>
                        <div class="col text-right">
                            <div id="calcute" class="btn btn-primary">
                                <i class="fa fa-calculator" aria-hidden="true"></i>
                                Calculate
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fa fa-angle-left"></i>
                    Back to the List
                </a>
                <a href="javascript: $('#form').submit()" class="btn btn-primary">
                    <i class="fa fa-plus-circle"></i>
                    Create
                </a>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <partial name="_StylesPartial" />
}

@section Scripts {
    <partial name="_ValidationPartial" />
    <script>
        $('#calcute').click(function () {
            var product = document.getElementById("product").value;
            var option = document.getElementById("option").value;
            $.ajax({
                url: '/api/services?productID=' + product + '&optionID=' + option,
                type: 'GET',
                dataType: 'text',
                success: function (data, textStatus, xhr) {
                    $('#total').html(data);
                }
            });
        });
    </script>
}