@model CRM.Models.PaymentOption
@{
    ViewData["Title"] = "DELETE THE EXISTING PAYMENT OPTION";
}

<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                @ViewData["Title"]
            </div>
            <div class="card-body text-center">
                Are you sure you want to delete payment option <strong>@Model.Name</strong>?
                <form hidden id="form" method="post" asp-action="Delete" asp-antiforgery="true" asp-route-id="@Model.ID"></form>
            </div>
            <div class="card-footer">
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fa fa-angle-left"></i>
                    Back to the List
                </a>
                <a href="javascript: $('#form').submit()" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                    Delete
                </a>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <partial name="_StylesPartial" />
}