@model CRM.Models.Sector
@using CRM.Services.Sector
@inject SectorService SectorService
@{
    ViewData["Title"] = "DELETE THE EXISTING SECTOR";
}

<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                @ViewData["Title"]
            </div>
            <div class="card-body">
                <form id="form" method="post" asp-action="Delete" asp-antiforgery="true" asp-route-id="@Model.ID">
                    <div class="form-group">
                        <input disabled placeholder="Name" class="form-control" asp-for="Name" autocomplete="off">
                    </div>
                    <div class="form-group form-check">
                        <input disabled asp-for="IsActive" type="checkbox" class="form-check-input">
                        <label class="form-check-label" asp-for="IsActive"></label>
                    </div>
                </form>
                @if (SectorService.IsSectorUsed(Model.ID) == true)
                {
                    <div class="alert alert-warning" role="alert">
                        <i class="fa fa-info-circle"></i>
                        You cannot delete a sector which used on firms.
                    </div>
                }
            </div>
            <div class="card-footer">
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fa fa-angle-left"></i>
                    Back to Team List
                </a>
                @if (SectorService.IsSectorUsed(Model.ID) == true)
                {
                    <a href="" class="disabled btn btn-danger">
                        <i class="fa fa-trash"></i>
                        Delete
                    </a>
                }
                else
                {
                    <a href="javascript: $('#form').submit()" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                        Delete
                    </a>
                }
            </div>
        </div>
    </div>
</div>

@section Styles {
    <partial name="_StylesPartial" />
}