@model CRM.Models.Sector
@{
    ViewData["Title"] = "EDIT THE EXISTING SECTOR";
}

<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                @ViewData["Title"]
            </div>
            <div class="card-body">
                <form id="form" method="post" asp-action="Edit" asp-antiforgery="true" asp-route-id="@Model.ID">
                    <div class="form-group">
                        <input placeholder="Name" class="form-control" asp-for="Name" autocomplete="off">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group form-check">
                        <input asp-for="IsActive" type="checkbox" class="form-check-input">
                        <label class="form-check-label" asp-for="IsActive"></label>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fa fa-angle-left"></i>
                    Back to the List
                </a>
                <a href="javascript: $('#form').submit()" class="btn btn-primary">
                    <i class="fa fa-refresh"></i>
                    Update
                </a>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <partial name="_StylesPartial" />
}

@section Scripts {
    <partial name="_ValidationPartial" />
}
