@model int

<a asp-action="Edit" asp-route-id="@Model" class="btn btn-outline-primary btn-sm">
    <i class="fa fa-refresh"></i>
    Edit
</a>
<a asp-action="Delete" asp-route-id="@Model" class="btn btn-outline-danger btn-sm">
    <i class="fa fa-trash"></i>
    Delete
</a>