<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Schedule</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Directory</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Team">Team</a>
    </li>
</ul>