<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
    </li>
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("User") || User.IsInRole("PassiveMember"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Team">Team</a>
            </li>
        }

        @if (User.IsInRole("Officer") || User.IsInRole("Member"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Personnel">Directory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Dashboard" asp-controller="Team">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Firm">Firms</a>
            </li>
        }

        @if (User.IsInRole("Officer"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Sector">Sectors</a>
            </li>
        }
    }
</ul>