<div class="row mb-4">
    <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")" asp-action="Index">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "All" ? "active" : "")" asp-action="All">All Schedules</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Upcoming" ? "active" : "")" asp-action="Upcoming">Upcoming</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "History" ? "active" : "")" asp-action="History">History</a>
                </li>
            </ul>
        </nav>
    </div>
</div>