<div class="row mb-4">
    <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Dashboard" ? "active" : "")" asp-action="Dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Members" ? "active" : "")" asp-action="Members">Members</a>
                </li>
                @if (User.IsInRole("Officer"))
                {
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Applicants" ? "active" : "")" asp-action="Applicants">Applicants</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>