@model CRM.Models.ViewModels.DirectoryViewModel
@{
    ViewData["Title"] = "CREATE A NEW PERSONNEL";
}

<div class="row">
    <div class="col-lg-12 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                @ViewData["Title"]
            </div>
            <div class="card-body">
                <form id="form" method="post" asp-antiforgery="true">
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Name</label>
                                <div class="col-lg-9">
                                    <input placeholder="First Name" class="form-control" asp-for="Personnel.FirstName" autocomplete="off">
                                    <span asp-validation-for="Personnel.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Surname</label>
                                <div class="col-lg-9">
                                    <input placeholder="Last Name" class="form-control" asp-for="Personnel.LastName" autocomplete="off">
                                    <span asp-validation-for="Personnel.LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label" asp-for="Personnel.Birthday"></label>
                                <div class="col-lg-9">
                                    <input placeholder="Birthday" class="form-control" asp-for="Personnel.Birthday" autocomplete="off">
                                    <span asp-validation-for="Personnel.Birthday" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label" asp-for="Personnel.FirmID"></label>
                                <div class="col-lg-9">
                                    <select asp-for="Personnel.FirmID" class="form-control" asp-items="@(new SelectList(Model.Firms, "ID", "Name"))">
                                        <option value="">Individual</option>
                                    </select>
                                    <span asp-validation-for="Personnel.FirmID" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label" asp-for="Personnel.Email"></label>
                                <div class="col-lg-9">
                                    <input placeholder="E-Mail" class="form-control" asp-for="Personnel.Email" autocomplete="off">
                                    <span asp-validation-for="Personnel.Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label" asp-for="Personnel.Phone"></label>
                                <div class="col-lg-9">
                                    <input placeholder="Phone" class="form-control" asp-for="Personnel.Phone" autocomplete="off">
                                    <span asp-validation-for="Personnel.Phone" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label" asp-for="Personnel.City"></label>
                                <div class="col-lg-9">
                                    <input placeholder="City" class="form-control" asp-for="Personnel.City" autocomplete="off">
                                    <span asp-validation-for="Personnel.City" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label" asp-for="Personnel.Province"></label>
                                <div class="col-lg-9">
                                    <input placeholder="Province" class="form-control" asp-for="Personnel.Province" autocomplete="off">
                                    <span asp-validation-for="Personnel.Province" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label" asp-for="Personnel.Country"></label>
                                <div class="col-lg-9">
                                    <input placeholder="Country" class="form-control" asp-for="Personnel.Country" autocomplete="off">
                                    <span asp-validation-for="Personnel.Country" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Personnel.Address"></label>
                        <textarea placeholder="Descripiton" class="form-control" asp-for="Personnel.Address"></textarea>
                        <span asp-validation-for="Personnel.Address" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fa fa-angle-left"></i>
                    Back to the List
                </a>
                <a href="javascript: $('#form').submit()" class="btn btn-primary">
                    <i class="fa fa-plus-circle"></i>
                    Create
                </a>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <partial name="_StylesPartial" />
}

@section Scripts {
    <partial name="_ValidationPartial" />
}