@{
    ViewData["Title"] = "TEAM DASHBOARD";
}

<partial name="_TeamNavigationPartial" />

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header text-center">
                @ViewData["Title"]
            </div>
            <div class="card-body">
                Dashboard
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header text-center">
                @ViewData["Title"]
            </div>
            <div class="card-body">
                Dashboard
            </div>
        </div>
    </div>
</div>

@section Styles {
    <partial name="_StylesPartial" />
}
