@model CRM.Models.TeamMember
@{
    ViewData["Title"] = "REJECT THE EXISTING APPLICANT";
}

<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                @ViewData["Title"]
            </div>
            <div class="card-body">
                <form id="form" method="post" asp-action="Reject" asp-antiforgery="true" asp-route-id="@Model.ID" asp-route-applicant="@Model.UserID">
                    <div class="form-group">
                        <input readonly class="form-control" value="@Model.User.FullName()" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input readonly class="form-control" asp-for="User.Email" autocomplete="off">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <a asp-action="Applicants" class="btn btn-secondary">
                    <i class="fa fa-angle-left"></i>
                    Back to Team List
                </a>
                <a href="javascript: $('#form').submit()" class="btn btn-danger">
                    <i class="fa fa-close"></i>
                    Reject the Application
                </a>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <partial name="_StylesPartial" />
}