@model CRM.Models.Programme
@{
    ViewData["Title"] = "EDIT THE EXISTING PROGRAMME";
}

<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                @ViewData["Title"]
            </div>
            <div class="card-body">
                <form id="form" method="post" asp-action="Edit" asp-antiforgery="true">
                    <div class="form-group">
                        <input placeholder="Name" class="form-control" asp-for="Name" autocomplete="off">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                        <input id="color" placeholder="Color" class="form-control" asp-for="Color" autocomplete="off">
                        <span class="text-danger" asp-validation-for="Color"></span>
                    </div>
                    <div class="form-group form-check">
                        <input asp-for="IsActive" type="checkbox" class="form-check-input">
                        <label class="form-check-label">Active</label>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fa fa-angle-left"></i>
                    Back to Team List
                </a>
                <a href="javascript: $('#form').submit()" class="btn btn-primary">
                    <i class="fa fa-refresh"></i>
                    Edit
                </a>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <partial name="_StylesPartial" />
    <link href="~/lib/bootstrap-colorpicker-plus/dist/css/bootstrap-colorpicker.css" rel="stylesheet">
}

@section Scripts {
    <partial name="_ValidationPartial" />
    <script src="~/lib/bootstrap-colorpicker-plus/dist/js/bootstrap-colorpicker.min.js"></script>
    <script>
        $(function () {
            // Basic instantiation:
            $('#color').colorpicker();

            // Example using an event, to change the color of the .jumbotron background:
            $('#color').on('colorpickerChange', function (event) {
                $('.jumbotron').css('background-color', event.color.toString());
            });
        });
    </script>
}