@model IEnumerable<CRM.Models.Schedule>
@{ 
    ViewData["Title"] = "SCHEDULES";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header text-center">
                @ViewData["Title"]
            </div>

            <div class="card-body text-center">
                <div id="calendar"></div>
            </div>
            <div class="card-footer text-center">

            </div>
        </div>
    </div>
</div>

@section Styles {
    <partial name="_StylesPartial" />
    <link href='~/lib/fullcalendar/dist/fullcalendar.min.css' rel='stylesheet' />
}

@section Scripts {
    <script src='~/lib/moment/moment.js'></script>
    <script src='~/lib/fullcalendar/dist/fullcalendar.min.js'></script>
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next',
                    center: '',
                    right: 'month,agendaWeek,agendaDay'
                },
                buttonText: {
                   month: 'Month', 
                   agendaDay: 'Day', 
                   agendaWeek: 'Week',
                   today: 'Today'
                },
                defaultView: 'agendaWeek',
                editable: false,
                firstDay: 1,
                allDaySlot: false,
                events: 'https://localhost:44378/Schedule/Schedules',
                contentHeight: 500,
            });
            
            var $leftButtons = $('.fc-left .fc-button-group button').removeClass();
            var $rightButtons = $('.fc-right .fc-button-group button').removeClass();
            $leftButtons.addClass('btn btn-primary');
            $rightButtons.addClass('btn btn-primary');
        });
    </script>
}
