@model CRM.Models.ViewModels.Identity.LoginViewModel
@{
    ViewData["Title"] = "LOGIN";
}

<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                @ViewData["Title"]
            </div>
            <div class="card-body">
                <form method="post" asp-action="Login" asp-controller="Login" asp-antiforgery="true">
                    <div class="form-group">
                        <input placeholder="E-Mail" class="form-control" asp-for="Email" autocomplete="off">
                        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group">
                        <input placeholder="Password" asp-for="Password" class="form-control">
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group form-check text-center">
                        <input type="checkbox" class="form-check-input" asp-for="RememberMe">
                        <label class="form-check-label" asp-for="RememberMe"></label>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-sign-in"></i>
                            Login
                        </button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Register">No account yet? Register instantly.</a> <br /> <br />

                By logging in, I agree to the <br />
                <a href="#">Brand terms</a> and conditions. <br />
                If I'm a seller, I also agree to the <br />
                Operator Dashboard terms.
            </div>
        </div>
    </div>
</div>

@section Styles {
    <partial name="_StylesPartial" />
}

@section Scripts {
    <partial name="_ValidationPartial" />
}

