@model CRM.Models.Product
@using CRM.Services
@inject ProductService ProductService
@{
    ViewData["Title"] = "DELETE THE EXISTING PRODUCT";
}

<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                @ViewData["Title"]
            </div>
            <div class="card-body text-center">
                <p>Are you sure you want to delete product <strong>@Model.Name</strong>?</p>
                <form hidden id="form" method="post" asp-action="Delete" asp-antiforgery="true" asp-route-id="@Model.ID"></form>


                @if (ProductService.IsProductUsed(Model.ID) == true)
                {
                    <div class="alert alert-warning text-left" role="alert">
                        <i class="fa fa-info-circle"></i>
                        You cannot delete a product which used on services.
                    </div>
                }
            </div>
            <div class="card-footer">
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fa fa-angle-left"></i>
                    Back to the List
                </a>
                @if (ProductService.IsProductUsed(Model.ID) == true)
                {
                    <a href="" class="disabled btn btn-danger">
                        <i class="fa fa-trash"></i>
                        Delete
                    </a>
                }
                else
                {
                    <a href="javascript: $('#form').submit()" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                        Delete
                    </a>
                }
            </div>
        </div>
    </div>
</div>

@section Styles {
    <partial name="_StylesPartial" />
}